<div class="container">
  <h2 class="title">Цвет панели</h2>
  <div class="mt">
    <%= form_with scope: :header_color, url: edit_header_color_path, 
      data: { turbo: false } do |form| %>
      <p class="mt">
        <%= form.label :header_color, 'Выберите новый цвет для навигационной панели' %>
      </p>
      <p>
        <%= form.color_field :header_color, value: '#370617',class: '' %>
      </p>

      <p class="mt">
        <%= form.submit 'Сохранить', class: 'button button-main' %>
        <span class="text-sm">или <%= link_to 'вернуться', :back %></span>
      </p>
    <% end %>
  </div>
</div>
