<div class="user-box">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>

  <div class="mt">
    <%= render partial: 'users/user_avatar', locals: { user: @user } %>
  </div>

  <% if current_user == @user %>
    <p class="mt">
      <%= link_to fa_icon('pencil'), edit_user_path(@user) %>
    </p>
  <% end %>

  <p class="text-bold mt mb-lg"><%= display_nickname(@user) %></p>
</div>

<% if @questions.empty? %>

  <%= render 'empty_state', user: @user %>

<% else %>

  <div class="container">
    <%= link_to 'Спроси меня', new_question_path(user_id: @user.id),
      class: 'button button-yellow' %>

    <p class="mt">
      <%= render 'questions/form', question: @question %>
    </p>
  </div>

  <div class="mt-sm container">
    <h2 class="title-lg">
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    </h2>
  </div>

  <% @questions.each do |question| %>
    <div class="mt-sm container">
      <p class="mb text-sm text-grey">
        Вопрос <%= link_to "##{question.id}", question_path(question) %>
      </p>
      <%= render question %>
    </div>
  <% end %>

<% end %>
